<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="category" content="Programming and Development">
        <meta name="description" content="Projects and activities owned by Jean-Louis AMADI">
        <meta name="keywords" lang="en" content="Programming;Development;Scripting;Tutorials;DevBook-Jean-Louis AMADI;Jean-Louis AMADI">
        <meta name="author" content="Jean-Louis AMADI">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Theme CSS -->
        <link href="css/freelancer.min.css" rel="stylesheet">
        <!-- Theme CSS -->
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/devicon/css/devicon.min.css" rel="stylesheet">
        <link href="css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <link href="css/jla.css" rel="stylesheet">
        <link rel="icon" href="./favicon.ico" />
 	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock %}

        {% block javascriptshead %}{% endblock %}
    </head>
    <body id="page-top" class="index">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery -->
            <script src="js/jquery.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="js/jquery.easing.1.3.min.js"></script>

            <!-- Theme JavaScript -->
            <script src="js/freelancer.min.js"></script>

            <script>
            $('#contactForm input[type=email]').on('change invalid', function()
            {
                var textfield = $(this).get(0);
    
                // 'setCustomValidity not only sets the message, but also marks
                // the field as invalid. In order to see whether the field really is
                // invalid, we have to remove the message first
                textfield.setCustomValidity('');
    
                if (!textfield.validity.valid)
                {
                    textfield.setCustomValidity('Please fill out this field.');  
                }
            });
            </script>

            <script>
            $('#contactForm textarea').on('change invalid', function()
            {
                var textfield = $(this).get(0);
    
                // 'setCustomValidity not only sets the message, but also marks
                // the field as invalid. In order to see whether the field really is
                // invalid, we have to remove the message first
                textfield.setCustomValidity('');
    
                if (!textfield.validity.valid)
                {
                    textfield.setCustomValidity('Please fill out this field.');  
                }
            });
            </script>

            <script>
            $('#contactForm input[type=checkbox]').on('change invalid', function()
            {
                var textfield = $(this).get(0);
    
                // 'setCustomValidity not only sets the message, but also marks
                // the field as invalid. In order to see whether the field really is
                // invalid, we have to remove the message first
                textfield.setCustomValidity('');
    
                if (!textfield.validity.valid)
                {
                    textfield.setCustomValidity('Please tick this case, you are not a robot, right ?');  
                }
            });
            </script>
        {% endblock %}
    </body>
</html>
